<style>body {
    background-color: rgb(40, 23, 61);
  }
  
  h1 {
    color: rgb(80, 34, 149);
    text-align: center;
    font-size:87.5px
  }
  
  p {
    font-family: cursive;
    font-size: 43px;
  }</style>